# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Pepe\Desktop\Salvar\Salvar\UMA\Asignaturas\4o año\1er cuatrimestre\Ingeniería Web\Examen 3\Fútbol\examen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
